* {
  /* color: var(--black); */
  font-size: 1.2rem;
  font-family: Sour Gummy, Arial, Helvetica, sans-serif;
}

:root {

  --brown: #795743;
  --yellow: #fccb4a;
  --purple: #9083e3;
  --lightpurple: #d7b9fb;
  --black: #08090a;
  --white: #fff;


}

@media screen and (max-width: 700px) {
  :root {
    font-size: 0.8rem;
  }
}
